{% extends "base.html" %}

{% block content %}
  <h2 style="text-align: center">{{ search | title }}</h2>


  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.aarp.net/content/dam/aarp/money/scams_fraud/2019/12/1140-puppy-sad.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Test.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://d27ucmmhxk51xv.cloudfront.net/media/english/illustration/puppy.jpg?version=1.2.1">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Test.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOxUuftx1lEMIz_yL1DYLo662zn9J6claaB0BfWg19pVn3qbi2&usqp=CAU">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Test.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
